mixin product()
  article.product
    .product__row
      a.product__picture(href="catalog-single.html")
        img(src="img/content/product-1.png", alt="Show punto batİk design")
      .product__content
        h3.product__title
          a(href="catalog-single.html") Show punto batİk design
        .product__desc.d-none.d-xl-block
          p Краткое описание товара размером в одну, две, или три строки, а можно и без него, если не влазит – то многотичие...
        ul.product__char-list.d-none.d-xl-block
          li.product__char-item #[strong Цена за:] 1 упаковку
          li.product__char-item #[strong В упаковке:] 4 мотка
          li.product__char-item #[strong Моток:] 100 гр — 350 м
          li.product__char-item #[strong Состав:] 100% Акрил (антипиллинг акрил)
          li.product__char-item #[strong В наличии:] #[span Много]
          li.product__char-item #[strong Кол-во подвидов:] #[a(href="#") 10]
        strong.product__price 905 ₽/#[sub упак.]
