.title-h {
  font-weight: 500;
  font-size: 19px;
  line-height: 25px;
  margin: 0;

  &--main {
    color: $text-color;
  }

  &--black {
    color: $black;
  }

  @media (min-width: $screen-xl) {
    font-size: 24px;
    line-height: 28px;
  }
}

.title-h__link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #34A5E6;
  text-decoration: none;
  margin-left: 30px;

  &--xs-none {
    @media (max-width: $screen-xl - 1) {
      display: none;
    }
  }
}
