mixin main-bunner()
  .main-banner(style="background-image: url('img/decor/main-banner-1.jpg')")
    section.main-banner__content
      h2.title-h.main-banner__title Интернет магазин пряжи, швейной фурнитуры и товаров для рукоделия
      a.btn.btn--main.btn--s-middle.main-banner__btn.js-scroll(href="#block-category") Подробнее
