extends pug/layout.pug

block meta
  title Главная
block header
  +page-header()
block content
  main
    .content.content--overflow
      .container
        +breadcrumbs()
          +breadcrumbs-item('Главная', 'index.html')
          +breadcrumbs-item('Каталог', 'catalog.html')
          +breadcrumbs-item('Категории товаров')
        header.content__header.content__header--c-main
          h2.title-h.content__title Категории товаров
        +js-category()
    .content
      .container
        header.content__header.content__header--c-main
          h2.title-h.content__title Пряжа
        .content__row.content__row--10
          .content__col.content__col--auto.content__mb-btn
            a.btn.btn--r-middle.btn--white.active(href="#") Alize
          .content__col.content__col--auto.content__mb-btn
            a.btn.btn--r-middle.btn--white(href="#") Nako
          .content__col.content__col--auto.content__mb-btn
            a.btn.btn--r-middle.btn--white(href="#") Magic
          .content__col.content__col--auto.content__mb-btn
            a.btn.btn--r-middle.btn--white(href="#") Vita
          .content__col.content__col--auto.content__mb-btn
            a.btn.btn--r-middle.btn--white(href="#") Vita Cotton
          .content__col.content__col--auto.content__mb-btn
            a.btn.btn--r-middle.btn--white(href="#") Color City
          .content__col.content__col--auto.content__mb-btn
            a.btn.btn--r-middle.btn--white(href="#") YarnArt
          .content__col.content__col--auto.content__mb-btn
            a.btn.btn--r-middle.btn--white(href="#") Adelia
          .content__col.content__col--auto
            a.btn.btn--r-middle.btn--white(href="#") Nazar
          .content__col.content__col--auto
            a.btn.btn--r-middle.btn--white(href="#") Kartopu
          .content__col.content__col--auto
            a.btn.btn--r-middle.btn--white(href="#") Knitka
        .filter-block.content__filter-block
          .filter-block__row.filter-block__row--xl-sb.filter-block__row--xl-row
            +dropdown('Фильтр по параметрам', 'drop-01', 'left filter').filter-block__dropdown
              form.filter
                .baron.filter__scroll
                  .baron__rel
                    .baron__track
                      .baron__free
                        .baron__bar
                    .filter__group
                      strong.filter__title Цена
                      .filter__fieldset
                        .filter__field-row
                          input(type="number" value="0" id="input-range-0" required="")
                          input(type="number" value="100000" id="input-range-1" required="")
                        .range(id="slider-range")
                    .filter__group
                      strong.filter__title Состав
                      .filter__fieldset
                        +field-checkbox([
                            {
                                title: 'Шерсть',
                                attrs: {
                                    name: 'check0',
                                }
                            },
                        ])
                        +field-checkbox([
                            {
                                title: 'Вискоза',
                                attrs: {
                                    name: 'check0',
                                }
                            },
                        ])
                        +field-checkbox([
                            {
                                title: 'Лен',
                                attrs: {
                                    name: 'check0',
                                }
                            },
                        ])
                    .filter__group
                      strong.filter__title Цвет
                      .filter__fieldset
                        +field-checkbox([
                            {
                                mods: 'white',
                                title: 'Белый',
                                attrs: {
                                    name: 'check0',
                                }
                            },
                        ])
                        +field-checkbox([
                            {
                                mods: 'yellow',
                                title: 'Желтый',
                                attrs: {
                                    name: 'check0',
                                }
                            },
                        ])
                        +field-checkbox([
                            {
                                mods: 'green',
                                title: 'Зеленый',
                                attrs: {
                                    name: 'check0',
                                }
                            },
                        ])
                        +field-checkbox([
                            {
                                mods: 'gradient',
                                title: 'Цветной',
                                attrs: {
                                    name: 'check0',
                                }
                            },
                        ])
                .filter__group.filter__group--no-line
                  button.btn.btn--main.btn--s-middle.filter__btn Показыть
                  button.btn.btn--s-middle.btn--white-b.filter__btn(type="reset") Сбросить
            +dropdown('По популярности', 'drop-02', 'right').filter-block__dropdown
              ul.sort
                li.sort__item
                  a.sort__link.sort__link--active(href='') По популярности
                li.sort__item
                  a.sort__link(href='') По новизне
                li.sort__item
                  a.sort__link(href='') По убыванию цены
                li.sort__item
                  a.sort__link(href='') По возрастанию цены
        .content__row.content__row--xs-6.content__row--col-mb.count-hide
          .content__col.content__col--6.content__col--md-4.content__col--xl-6(data-filter="advice")
            +product(true)
          .content__col.content__col--6.content__col--md-4.content__col--xl-6(data-filter="new")
            +product(false)
          .content__col.content__col--6.content__col--md-4.content__col--xl-6(data-filter="advice")
            +product(true)
          .content__col.content__col--6.content__col--md-4.content__col--xl-6(data-filter="sale")
            +product(false)
          .content__col.content__col--6.content__col--md-4.content__col--xl-6(data-filter="sale")
            +product(true)
          .content__col.content__col--6.content__col--md-4.content__col--xl-6(data-filter="sale")
            +product(false)
          .content__col.content__col--6.content__col--md-4.content__col--xl-6(data-filter="advice")
            +product(true)
          .content__col.content__col--6.content__col--md-4.content__col--xl-6(data-filter="advice")
            +product(false)
          .content__col.content__col--6.content__col--md-4.content__col--xl-6(data-filter="sale")
            +product(true)
        button.btn.btn--lighten.btn--s-big.content__btn-more.js-show-more Показать больше
block footer
  +page-footer()
