extends pug/layout.pug

block meta
  title Оформление заказа
block header
  +page-header(false)
block content
  main
    .content
      .container
        +breadcrumbs()
          +breadcrumbs-item('Главная', 'index.html')
          +breadcrumbs-item('Оформление заказа')
        h1.title-h.title-h--black.content__title Оформление заказа
block footer
  +page-footer()

